@reference "../../app/globals.css";

.button {
  @apply inline-block px-6 py-2 rounded-lg font-medium text-heading bg-primary transition-colors w-full;
}

.button:hover {
  @apply bg-secondary;
}

.loading {
  @apply opacity-75 cursor-not-allowed;
}
