@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:wght@200..900&display=swap");
@import "tailwindcss";

/* theme colours */
@theme {
  --color-primary: #7a1fa1;
  --color-secondary: #c27aff;
  --color-dark: #030712;
  --color-light: #0a101d;
  --color-lighter: #101828;
  --color-success: #05df72;
  --color-error: #ff6467;
  --color-heading: white;
  --color-body: #99a1af;
  --color-pink: #fb64b6;
  --font-sans: "Inter", sans-serif;
  --font-display: "Fredoka", sans-serif;
  --font-body-alt: "Nunito", sans-serif;
}

/* typography */
body {
  @apply font-sans text-body bg-dark;
}
h1,
h2,
h3,
h4 {
  @apply text-heading;
}

/* generic layout styles */
.public {
  h1 {
    @apply text-4xl;
  }
}
svg.logo {
  display: inline-block;
}

/* generic page styles */
.page-content {
  @apply my-4 mx-auto w-6xl min-w-2xl max-w-full;
}
.center-content {
  @apply flex flex-col justify-center text-justify min-h-lvh;
}
.form-title {
  @apply text-center text-xl font-bold;
}

/* button styles */
.btn {
  @apply inline-block px-6 py-2 rounded-lg font-medium text-heading bg-primary no-underline transition-colors;
}
.btn:hover {
  @apply bg-secondary;
}
